In [2]:
import mysql.connector
import pandas as pd

In [3]:
# Load product data from CSV
products_df = pd.read_csv('product_dim.csv')

# Load category data from CSV
categories_df = pd.read_csv('categories.csv')

In [4]:
# Category mapping based on keywords in product names
category_mapping = {
    'Beverages': ['Chai', 'Chang', 'Aniseed Syrup', 'Apple Cider', 'Sasquatch Ale', 'Steeleye Stout'],
    'Condiments': ['Chef Anton\'s Cajun Seasoning', 'Grandma\'s Boysenberry Spread', 'Northwoods Cranberry Sauce', 'Gumbär Gummibärchen', 'Genen Shouyu'],
    'Confections': ['Ikura', 'Chocolade', 'Rössle Sauerkraut', 'Schoggi Schokolade', 'Gorgonzola Telino', 'NuNuCa Nuß-Nougat-Creme'],
    'Dairy Products': ['Queso Cabrales', 'Mascarpone Fabioli', 'Gnocchi di nonna Alice', 'Fløtemysost', 'Konbu', 'Tofu'],
    'Grains/Cereals': ['Alice Mutton', 'Uncle Bob\'s Organic Dried Pears', 'Teatime Chocolate Biscuits', 'Ravioli Angelo', 'Alice\'s Golden Syrup'],
    'Meat/Poultry': ['Mishi Kobe Niku', 'Pavlova', 'Thüringer Rostbratwurst', 'Nord-Ost Matjeshering', 'Tunnbröd', 'Inlagd Sill'],
    'Produce': ['Queso Manchego La Pastora', 'Boston Crab Meat', 'Ikura', 'Gravad lax'],
    'Seafood': ['Jack\'s New England Clam Chowder', 'Côte de Blaye', 'Chartreuse verte', 'Mishi Kobe Niku', 'Guaraná Fantástica'],
}

# Function to categorize products based on productName
def categorize_product(product_name):
    for category, products in category_mapping.items():
        if any(keyword in product_name for keyword in products):
            return category
    return 'Unknown'  # Default category if no match is found

# Apply the categorization function to the product data
products_df['categoryName'] = products_df['productName'].apply(categorize_product)

# Display the DataFrame with the assigned categories
print(products_df[['productID', 'productName', 'categoryName']])

    productID                      productName    categoryName
0           1                             Chai       Beverages
1           2                            Chang       Beverages
2           3                    Aniseed Syrup       Beverages
3           4     Chef Anton's Cajun Seasoning      Condiments
4           5           Chef Anton's Gumbo Mix         Unknown
..        ...                              ...             ...
72         73                       Röd Kaviar         Unknown
73         74                    Longlife Tofu  Dairy Products
74         75             Rhönbräu Klosterbier         Unknown
75         76                     Lakkalikööri         Unknown
76         77  Original Frankfurter grüne Soße         Unknown

[77 rows x 3 columns]

In [5]:
# Count the number of products with 'Unknown' category
unknown_category_count = (products_df['categoryName'] == 'Unknown').sum()

# Print the number of products with 'Unknown' category
print(f"Number of products with unknown category: {unknown_category_count}")

Number of products with unknown category: 38

In [6]:
# chechikng that evrything is okay
products_df.head()

,productID,productName,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued,categoryName
0,1,Chai,10 boxes x 20 bags,18.00,39,0,10,0,Beverages
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25,0,Beverages
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25,0,Beverages
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0,0,Condiments
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,0,0,0,1,Unknown

In [7]:
# Save the DataFrame with categories to a new CSV file (optional)
products_df.to_csv('products_df.csv', index=False)