In [1]:
import mysql.connector
import pandas as pd

In [2]:
# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="0000", 
    database="northwind_star_schema" 
)

# Create a cursor object
cursor = connection.cursor()

In [3]:
# Read the CSV file into a pandas DataFrame
csv_file = "employee_dim.csv"  # Path to your CSV file
df = pd.read_csv(csv_file)

In [4]:

# Map CSV column names to MySQL column names
csv_to_db_mapping = {
    "employeeID": "employee_id",
    "firstName": "first_name",
    "lastName": "last_name",
    "title": "title",
    "titleOfCourtesy": "title_of_courtesy",
    "birthDate": "birth_date",
    "hireDate": "hire_date",
    "address": "address",
    "city": "city",
    "region": "region",
    "country": "country",
    "postalCode": "postal_code",
    "reportsTo": "reports_to"
}

In [12]:
# Insert DataFrame rows into the MySQL table (skipping birthDate and hireDate)
for i, row in df.iterrows():
    sql = """
        INSERT INTO employee_dim (employee_id, first_name, last_name, title, title_of_courtesy, address, city, region, country, postal_code, reports_to)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    # Only select the relevant fields for the insertion query
    data = (
        row['employeeID'], row['firstName'], row['lastName'], row['title'], row['titleOfCourtesy'],
        row['address'], row['city'], row['region'], row['country'], row['postalCode'], row['reportsTo']
    )
    
    cursor.execute(sql, data)
    connection.commit()

In [13]:


# Step 6: Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted successfully from CSV to MySQL!")

Data inserted successfully from CSV to MySQL!

In [14]:
# Checking that data was inserted correctly

# Establish connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0000",
    database="northwind_star_schema"
)

# Create a cursor object
cursor = connection.cursor()

# SQL query to check the data
query = "SELECT * FROM employee_dim LIMIT 10;"  # Fetch the first 10 rows for inspection

# Execute the query
cursor.execute(query)

# Fetch all rows
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

(1, 1, 'Nancy', 'Davolio', 'Sales Representative', 'Ms.', None, None, '507 - 20th Ave. E. Apt. 2A', 'Seattle', 'WA', 'USA', '98122', 2)
(2, 2, 'Andrew', 'Fuller', 'Vice President, Sales', 'Dr.', None, None, '908 W. Capital Way', 'Tacoma', 'WA', 'USA', '98401', None)
(3, 3, 'Janet', 'Leverling', 'Sales Representative', 'Ms.', None, None, '722 Moss Bay Blvd.', 'Kirkland', 'WA', 'USA', '98033', 2)
(4, 4, 'Margaret', 'Peacock', 'Sales Representative', 'Mrs.', None, None, '4110 Old Redmond Rd.', 'Redmond', 'WA', 'USA', '98052', 2)
(5, 5, 'Steven', 'Buchanan', 'Sales Manager', 'Mr.', None, None, '14 Garrett Hill', 'London', None, 'UK', 'SW1 8JR', 2)
(6, 6, 'Michael', 'Suyama', 'Sales Representative', 'Mr.', None, None, 'Coventry House Miner Rd.', 'London', None, 'UK', 'EC2 7JR', 5)
(7, 7, 'Robert', 'King', 'Sales Representative', 'Mr.', None, None, 'Edgeham Hollow Winchester Way', 'London', None, 'UK', 'RG1 9SP', 5)
(8, 8, 'Laura', 'Callahan', 'Inside Sales Coordinator', 'Ms.', None, None, '4726 - 11th Ave. N.E.', 'Seattle', 'WA', 'USA', '98105', 2)
(9, 9, 'Anne', 'Dodsworth', 'Sales Representative', 'Ms.', None, None, '7 Houndstooth Rd.', 'London', None, 'UK', 'WG2 7LT', 5)