In [19]:
import mysql.connector
import pandas as pd

In [20]:
# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="0000", 
    database="northwind_star_schema" 
)

# Create a cursor object
cursor = connection.cursor()

In [21]:
# Read the CSV file into a pandas DataFrame
csv_file = "ship_info.csv"  # Path to your CSV file
df = pd.read_csv(csv_file)

In [22]:

# Map CSV column names to MySQL column names
csv_to_db_mapping = {
    "shipAddress": "ship_address",
    "shipCity": "ship_city",
    "shipRegion": "ship_region",
    "shipCountry": "ship_country"
}

In [23]:
# Insert DataFrame rows into the MySQL table (including categoryName)
for i, row in df.iterrows():
    sql = """
        INSERT INTO ship_info (ship_address, ship_city, ship_region, ship_country)
        VALUES (%s, %s, %s, %s)
    """
    # Only select the relevant fields for the insertion query
    data = (
        row['shipAddress'], row['shipCity'], row['shipRegion'], row['shipCountry']
    )

    cursor.execute(sql, data)
    connection.commit()

In [24]:


# Step 6: Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted successfully from CSV to MySQL!")

Data inserted successfully from CSV to MySQL!

In [25]:
# Checking that data was inserted correctly

# Establish connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0000",
    database="northwind_star_schema"
)

# Create a cursor object
cursor = connection.cursor()

# SQL query to check the data
query = "SELECT * FROM ship_info LIMIT 10;"  # Fetch the first 10 rows for inspection

# Execute the query
cursor.execute(query)

# Fetch all rows
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()


# I also made a query in MySQL workbench to check that data was inserted correctly

(1, None, "59 rue de l'Abbaye", 'Reims', None, 'France')
(2, None, 'Luisenstr. 48', 'Münster', None, 'Germany')
(3, None, 'Rua do Paço', '67', 'Rio de Janeiro', '05454-876')
(4, None, "59 rue de l'Abbaye", 'Reims', None, 'France')
(5, None, 'Luisenstr. 48', 'Münster', None, 'Germany')
(6, None, 'Rua do Paço', '67', 'Rio de Janeiro', '05454-876')
(7, None, '2', ' rue du Commerce', 'Lyon', '69004')
(8, None, 'Boulevard Tirou', '255', 'Charleroi', 'B-6000')
(9, None, 'Rua do Paço', '67', 'Rio de Janeiro', '05454-876')
(10, None, 'Hauptstr. 31', 'Bern', None, 'Switzerland')