In [4]:
import mysql.connector
import pandas as pd

In [5]:
# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="0000", 
    database="northwind_star_schema" 
)

# Create a cursor object
cursor = connection.cursor()

In [6]:
# Read the CSV file into a pandas DataFrame
csv_file = "products_df.csv"  # Path to your CSV file
df = pd.read_csv(csv_file)

In [7]:

# Map CSV column names to MySQL column names
csv_to_db_mapping = {
    "productID": "product_id",
    "productName": "product_name",
    "quantityPerUnit": "quantity_per_unit",
    "unitPrice": "unit_price",
    "unitsInStock": "units_in_stock",
    "unitsOnOrder": "units_on_order",
    "reorderLevel": "reorder_level",
    "discontinued": "discontinued",
    "categoryName": "category_name"
}

In [11]:
# Insert DataFrame rows into the MySQL table (including categoryName)
for i, row in df.iterrows():
    sql = """
        INSERT INTO product_dim (product_id, product_name, quantity_per_unit, unit_price, units_in_stock, 
        units_on_order, reorder_level, discontinued, category_name)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    # Only select the relevant fields for the insertion query
    data = (
        row['productID'], row['productName'], row['quantityPerUnit'], row['unitPrice'], row['unitsInStock'],
        row['unitsOnOrder'], row['reorderLevel'], row['discontinued'], row['categoryName']  # Adding categoryName here
    )

    cursor.execute(sql, data)
    connection.commit()

In [12]:


# Step 6: Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted successfully from CSV to MySQL!")

Data inserted successfully from CSV to MySQL!

In [14]:
# Checking that data was inserted correctly

# Establish connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0000",
    database="northwind_star_schema"
)

# Create a cursor object
cursor = connection.cursor()

# SQL query to check the data
query = "SELECT * FROM product_dim LIMIT 10;"  # Fetch the first 10 rows for inspection

# Execute the query
cursor.execute(query)

# Fetch all rows
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()


# I also made a query in MySQL workbench to check that data was inserted correctly

(1, 1, 'Chai', '10 boxes x 20 bags', 18.0, 39, 0, 10, 0, 'Beverages')
(2, 2, 'Chang', '24 - 12 oz bottles', 19.0, 17, 40, 25, 0, 'Beverages')
(3, 3, 'Aniseed Syrup', '12 - 550 ml bottles', 10.0, 13, 70, 25, 0, 'Beverages')
(4, 4, "Chef Anton's Cajun Seasoning", '48 - 6 oz jars', 22.0, 53, 0, 0, 0, 'Condiments')
(5, 5, "Chef Anton's Gumbo Mix", '36 boxes', 21.35, 0, 0, 0, 1, 'Unknown')
(6, 6, "Grandma's Boysenberry Spread", '12 - 8 oz jars', 25.0, 120, 0, 25, 0, 'Condiments')
(7, 7, "Uncle Bob's Organic Dried Pears", '12 - 1 lb pkgs.', 30.0, 15, 0, 10, 0, 'Grains/Cereals')
(8, 8, 'Northwoods Cranberry Sauce', '12 - 12 oz jars', 40.0, 6, 0, 0, 0, 'Condiments')
(9, 9, 'Mishi Kobe Niku', '18 - 500 g pkgs.', 97.0, 29, 0, 0, 1, 'Meat/Poultry')
(10, 10, 'Ikura', '12 - 200 ml jars', 31.0, 31, 0, 0, 0, 'Confections')