In [11]:
import mysql.connector
import pandas as pd

In [12]:
# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root", 
    password="0000", 
    database="northwind_star_schema" 
)

# Create a cursor object
cursor = connection.cursor()

In [13]:
# Read the CSV file into a pandas DataFrame
csv_file = "customer_dim.csv"  # Path to your CSV file
df = pd.read_csv(csv_file)

In [14]:
# Check all NaN values --> delete if there are 
df.isna().sum()

customerID       0
companyName      0
contactName      0
contactTitle     0
region          45
dtype: int64

In [15]:
# drop nan values
df = df.dropna()

In [16]:
# checking duplicates
df.duplicated().sum()

0

In [17]:

# Map CSV column names to MySQL column names
csv_to_db_mapping = {
    "customerID": "company_name",
    "companyName": "customer_id",
    "contactName": "contact_name",
    "contactTitle": "contact_title"
}

In [18]:
# Insert DataFrame rows into the MySQL table (skipping birthDate and hireDate)
for i, row in df.iterrows():
    sql = """
        INSERT INTO customer_dim (company_name, customer_id, contact_name, contact_title)
        VALUES (%s, %s, %s, %s)
    """
    # Only select the relevant fields for the insertion query
    data = (
        row['customerID'], row['companyName'], row['contactName'], row['contactTitle']
    )
    
    cursor.execute(sql, data)
    connection.commit()

In [19]:


# Step 6: Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted successfully from CSV to MySQL!")

Data inserted successfully from CSV to MySQL!

In [20]:
# Checking that data was inserted correctly

# Establish connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0000",
    database="northwind_star_schema"
)

# Create a cursor object
cursor = connection.cursor()

# SQL query to check the data
query = "SELECT * FROM customer_dim LIMIT 10;"  # Fetch the first 10 rows for inspection

# Execute the query
cursor.execute(query)

# Fetch all rows
rows = cursor.fetchall()

# Print the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

(1, 'Alfreds Futterkiste', 'ALFKI', 'Maria Anders', 'Sales Representative')
(2, 'Ana Trujillo Emparedados y helados', 'ANATR', 'Ana Trujillo', 'Owner')
(3, 'Antonio Moreno Taquería', 'ANTON', 'Antonio Moreno', 'Owner')
(4, 'Around the Horn', 'AROUT', 'Thomas Hardy', 'Sales Representative')
(5, 'Berglunds snabbköp', 'BERGS', 'Christina Berglund', 'Order Administrator')
(6, 'Blauer See Delikatessen', 'BLAUS', 'Hanna Moos', 'Sales Representative')
(7, 'Blondesddsl père et fils', 'BLONP', 'Frédérique Citeaux', 'Marketing Manager')
(8, 'Bólido Comidas preparadas', 'BOLID', 'Martín Sommer', 'Owner')
(9, "Bon app'", 'BONAP', 'Laurence Lebihan', 'Owner')
(10, 'Bottom-Dollar Markets', 'BOTTM', 'Elizabeth Lincoln', 'Accounting Manager')